*{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 40px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
    text-decoration: none;
    padding: 3px;
    border-radius: 2px;
    border: none;
}

#logo{
    color: #f08804;
    padding-left: 10px;
}

a{
    margin-right: 200px;
    text-decoration: none;
}